/* NETFLIX FONTS */
@font-face {
  font-family: "Netflix Sans Bk";
  src: url("./assets/fonts/NetflixSansBlack.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Netflix Sans Regular";
  src: url("./assets/fonts/NetflixSansRegular.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Netflix Sans Medium";
  src: url("./assets/fonts/NetflixSansMedium.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Netflix Sans Thin";
  src: url("./assets/fonts/NetflixSansThin.ttf");
  font-weight: 100;
  font-style: normal;
}

/* COLOR VARIABLES */
:root {
  --white: #fff;
  --light-gray-1: #dddd;
  --light-gray-2: #e5e5e5;
  --gray-1: #8a8a8a;
  --gray-2: #808080;
  --black: #141414;
  --red: #b9090b;
}

/* GENERAL SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Netflix Sans Regular";
}

h3 {
  color: var(--white);
  margin-left: 32px;
  font-size: 17px;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}

/************************************************ 
  MEDIA QUERIES (max-width 987px)
*************************************************/
@media all and (max-width: 987px) {
  .dropdown-icon,
  .ringbell-icon,
  .profile-icon {
    display: none;
  }

  .left__header__links ul li {
    padding-left: 50px;
  }

  h1 {
    margin-top: 80px;
    margin-bottom: -10px;
  }

  .top__red__badge {
    align-items: center;
    vertical-align: middle;
  }

  .banner__contents {
    margin-top: -600px;
  }

  .row,
  h3 {
    margin-top: 40px;
  }

  h3 {
    font-size: 16px;
  }
}

/************************************************ 
  MEDIA QUERIES (max-width 768px)
*************************************************/
@media all and (max-width: 768px) {
  /* GeneralSettings */
  .top__red__badge,
  .banner__description,
  .left__header__links ul,
  .search-icon,
  .dropdown-icon {
    display: none;
  }

  .banner__contents {
    padding-top: 250px;
  }

  h1 {
    font-size: 30px;
    display: flex;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  .logo {
    padding-top: 15px;
  }

  .netflix__logo,
  .profile__img {
    display: block;
    z-index: 2;
  }

  .right__header__links ul {
    width: 10%;
    display: flex;
    line-height: 10px;
    align-items: center;
    vertical-align: middle;
  }

  .main-header {
    background-color: transparent;
    height: 0;
  }

  body {
    max-width: 768px;
  }

  h2 {
    font-size: 17px;
  }

  /* TitleMainBannerSettings */
  .navbar {
    background-color: transparent;
  }

  .banner__image img {
    padding-top: 300px;
  }

  .subtitle {
    display: none;
  }

  #gray_box {
    display: none;
  }

  /* footer */
  .footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .footer ul li {
    list-style-type: none;
  }
}

/************************************************ 
  MEDIA QUERIES (max-width 768px) for INDEX.HTML
*************************************************/
@media all and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .member-div .btn,
  .addIcon {
    min-height: 10px;
  }
}

/************************************************ 
  MEDIA QUERIES (max-width 480px) for HOME-PAGE.HTML
*************************************************/
@media all and (max-width: 480px) {
  .banner__buttons {
    display: none;
  }

  /* logo */
  .netflix__logo {
    margin-top: -20px;
    margin-left: -20px;
  }

  /* filmTitle */
  h1 {
    font-size: 18px;
    padding-right: 30px;
    padding-top: 70px;
  }

  .poster-container {
    margin-top: 20px;
  }
}
